/* src/styles/Accounts.css */

.accounts-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  overflow-y: auto;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/background.jpg');
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.accounts-header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light);
  padding: 1rem 2rem;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-logo {
  height: 50px;
}

.header-title {
  font-size: 2rem;
  color: var(--darkBlue);
  font-family: 'Fjalla One', sans-serif;
}

.accounts-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}

.account-card-link {
  text-decoration: none;
  color: inherit;
}

.account-card {
  background-color: var(--light);
  border-radius: 20px;
  padding: 1rem;
  width: 300px;
  height: 180px;
  text-align: center;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.account-card:hover {
  transform: translateY(-10px);
}

.account-name {
  font-size: 1.5rem;
  color: var(--darkBlue);
  margin-top: 1rem;
}

.account-type, .account-number {
  font-size: 1rem;
  color: var(--darkBlue);
  margin-top: 0.5rem;
}

.error {
  color: red;
  margin-top: 1rem;
}